@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .save .btn-get-started {
        margin-top: 30px;
        line-height: 0;
        padding: 15px 95px;
        border-radius: 4px;
        transition: 0.5s;
        color: #fff;
        background: green;
        box-shadow: 0px 5px 30px rgba(65, 84, 241, 0.4);
    }

    .cancel .btn-get-started {
        margin-top: 30px;
        line-height: 0;
        padding: 15px 95px;
        border-radius: 4px;
        transition: 0.5s;
        color: #fff;
        background: red;
        box-shadow: 0px 5px 30px rgba(65, 84, 241, 0.4);
    }
    /* #head {
        background-image: url('../../images/registration.jpg');
        background-size:cover;
    }*/
    .sec-title-style1 .title {
        position: relative;
        display: block;
        color: #012970;
        font-size: 36px;
        line-height: 46px;
        font-weight: 700;
        text-transform: uppercase;
    }

    *, ::after, ::before {
        box-sizing: border-box;
    }

    .text-center {
        text-align: center !important;
    }

    .sec-title-style1 .text p {
        position: relative;
        display: inline-block;
        padding: 0 15px;
        color: #012970;
        font-size: 14px;
        line-height: 16px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0;
    }

    .sec-title-style1 .text .decor-left {
        position: relative;
        top: -2px;
        display: inline-block;
        width: 70px;
        height: 5px;
        background: transparent;
    }

    .sec-title-style1 .text .decor-right {
        position: relative;
        top: -2px;
        display: inline-block;
        width: 70px;
        height: 5px;
        background: transparent;
    }

    .sec-title-style1 .text .decor-left span {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 50px;
        height: 1px;
        background: #FFA500;
        content: "";
        margin: 2px 0;
    }

    .sec-title-style1 .text .decor-left::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 5px;
        height: 5px;
        background: #FFA500;
        border-radius: 50%;
        content: "";
    }

    .sec-title-style1 .text .decor-left::after {
        position: absolute;
        top: 0;
        right: 10px;
        bottom: 0;
        width: 5px;
        height: 5px;
        background: #FFA500;
        border-radius: 50%;
        content: "";
    }

    .sec-title-style1 .text .decor-right::before {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 5px;
        height: 5px;
        background: #FFA500;
        border-radius: 50%;
        content: "";
    }

    .sec-title-style1 .text .decor-right::after {
        position: absolute;
        top: 0;
        left: 10px;
        bottom: 0;
        width: 5px;
        height: 5px;
        background: #FFA500;
        border-radius: 50%;
        content: "";
    }

    .sec-title-style1 .text .decor-right span {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 50px;
        height: 1px;
        background: #FFA500;
        content: "";
        margin: 2px 0;
    }
</style>
<div id="head" data-aos="fade-up" data-aos-delay="200">
    <div style="padding:80px;"></div>
    <div class="sec-title-style1 text-center max-width">
        <div class="title">Event Booking</div>
        <div class="text"><div class="decor-left"><span></span></div><p>Let's Organize The Event</p><div class="decor-right"><span></span></div></div>

    </div>

    <br />
    <div id="customer-form" class="row">
        <div class="col-md-1"></div>
        <div class="row col-md-10">
            <div class="col-md-3">
                <label><b>Name*</b></label>
                <div style="padding:4px;"></div>
                <input class="form-control" id="name" type="text" placeholder="Enter Name" />
            </div>
            <div class="col-md-3">
                <label><b>Organization*</b></label>
                <div style="padding:4px;"></div>
                <input class="form-control" id="organization" type="text" placeholder="Enter Name" />
            </div>
            <div class="col-md-3">
                <label><b>Mobile Number*</b></label>
                <div style="padding:4px;"></div>
                <input class="form-control" id="mobile-no" type="text" placeholder="Enter Mobile Number" maxlength="10" />
            </div>
            <div class="col-md-3">
                <label><b>Email Id*</b></label>
                <div style="padding:4px;"></div>
                <input class="form-control" id="email-id" type="text" placeholder="Enter EmailId" />
            </div>
            <div style="padding:8px;"></div>
            <div class="col-md-3">
                <label><b>Id Proof Type*</b></label>
                <div style="padding:4px;"></div>
                <select id="government-id" class="form-control">
                    <option>&nbsp;</option>
                    <option>Aadhar Card</option>
                    <option>Pan Card</option>
                    <option>Voter Card</option>
                    <option>Liscence Card</option>

                </select>
            </div>
            @*<div class="col-md-3">


            <label><b>Id Proof*</b></label>
                <div style="padding:4px;"></div>
                <input class="form-control" id="profile_photo" onclick="customerFormComponent.selectProfilePhoto();"  type="file" />
        </div>*@
            <div class="col-md-3">
                <label><b>From Date*</b></label>
                <div style="padding:4px;"></div>
                <input class="form-control" id="from-date" type="date" />
            </div>
            <div class="col-md-3">
                <label><b>To Date*</b></label>
                <div style="padding:4px;"></div>
                <input class="form-control" id="to-date" type="date" />
            </div>
            <div class="col-md-3" style="display:none;">
                <label><b>Location*</b></label>
                <div style="padding:4px;"></div>
                <input class="form-control" type="text" id="location" placeholder="Enter Location" />
            </div>
            <div class="col-md-3">
                <label><b>Id Proof*</b></label>
                <div style="padding:5px;"></div>
                <input class="form-control" type="file" id="profile_photo" @*style="display: none"*@
                       onchange=" customerFormComponent.fileSelectionChanged();"
                       accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|image/*" />
                @*<button class="btn btn-info btn-block" onclick="customerFormComponent.selectProfilePhoto();">Select photo ...</button>*@
            </div>
            <div style="padding:8px;"></div>
            <div class="col-md-6">
                <label><b>Event Description*</b></label>
                <div style="padding:4px;"></div>
                <input class="form-control" type="text" id="event-details" placeholder="Enter Event Description" />
            </div>

            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="save col-md-3">
                <a href="#" id="save-customer" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                    <span>Submit</span>&nbsp;
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
            <div class="cancel col-md-3">
                <a href="#" id="cancel-customer" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                    <span>Cancel</span>&nbsp;
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>

    <br />


    <br />
    <br />

    <div id="thanks" class="jumbotron text-center" style="display:none;">
        <h1 class="display-3">Thank You!</h1>
        <p class="lead"><strong>We will Sending Email</strong> for further instructions on how to download your permission Letter.</p>
        <hr>
        <p>
            Having trouble? <a href="/Home/Contact">Contact us</a>
        </p>
        <p class="lead">
            <a class="btn btn-primary btn-sm" href="/Home/Index" role="button">Continue to homepage</a>
        </p>
    </div>
</div>
<script src="~/Scripts/js/CustomerForm.js"></script>

@*<script>
        $(function () {
            customerForm = new PTDCCustomerForm("user-form"); //, "/ApiUser/SaveUser");
        })
    </script>*@

<script>

    //function showPreview(event) {
    //    if (event.target.files.length > 0) {
    //        var src = URL.createObjectURL(event.target.files[0]);
    //        var preview = document.getElementById("company-logo-preview");
    //        preview.src = src;
    //        preview.style.display = "block";
    //    }
    //}

    var customerFormComponent = null;

    $(function () {

        customerFormComponent = new PBCustomerFormComponent("customer-form"); //, "/ApiUser/SaveUser");
        customerFormComponent.saveURL = "ApiCustomer/SaveCustomer";
        
        //console.log(userFormComponent.updateURL, "fffffffffffffffffff");

        customerFormComponent.onSaveCompleted = function () {
            $("#customer-form").hide();
            $("#thanks").show();
        }
        customerFormComponent.onCancelled = function () {

        }

    })
</script>