

@{
    ViewBag.Title = "ChoosePlace";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var _recId = Context.Request.QueryString["_recId"] == null ? "" : Context.Request.QueryString["_recId"];
}

<link href="~/Content/Owl-Carousel/owl.carousel.min.css" rel="stylesheet" />
<script src="~/Content/Owl-Carousel/owl.carousel.js"></script>
<link href="~/Content/Owl-Carousel/styles.css" rel="stylesheet" />
<style>
    .owl-carousel {
        display: unset !important;
    }

    .owl-nav .owl-next {
        display: none !important;
    }

    .owl-nav .owl-prev {
        display: none !important;
    }

    img {
        /*background-color:red;*/
        height: 200px;
        background-size: cover;
    }

    .tour p {
        display: -webkit-box;
        max-width: 300px;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .tour .text-lg-start {
        text-align: right !important;
    }

    #hero {
        /* background-image: url('../../images/8.jpg');*/
        background-image: url('../../images/je-taime-1.png');
    }

    .btn-get-started {
        line-height: 0;
        padding: 15px 95px;
        border-radius: 4px;
        transition: 0.5s;
        color: #fff;
        background: green;
        box-shadow: 0px 5px 30px rgba(65, 84, 241, 0.4);
    }

    .sec-title-style1 .title {
        position: relative;
        display: block;
        color: #012970;
        font-size: 36px;
        line-height: 46px;
        font-weight: 700;
        text-transform: uppercase;
    }

    *, ::after, ::before {
        box-sizing: border-box;
    }

    .text-center {
        text-align: center !important;
    }

    .sec-title-style1 .text p {
        position: relative;
        display: inline-block;
        padding: 0 15px;
        color: #012970;
        font-size: 14px;
        line-height: 16px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0;
    }

    .sec-title-style1 .text .decor-left {
        position: relative;
        top: -2px;
        display: inline-block;
        width: 70px;
        height: 5px;
        background: transparent;
    }

    .sec-title-style1 .text .decor-right {
        position: relative;
        top: -2px;
        display: inline-block;
        width: 70px;
        height: 5px;
        background: transparent;
    }

    .sec-title-style1 .text .decor-left span {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 50px;
        height: 1px;
        background: #FFA500;
        content: "";
        margin: 2px 0;
    }

    .sec-title-style1 .text .decor-left::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 5px;
        height: 5px;
        background: #FFA500;
        border-radius: 50%;
        content: "";
    }

    .sec-title-style1 .text .decor-left::after {
        position: absolute;
        top: 0;
        right: 10px;
        bottom: 0;
        width: 5px;
        height: 5px;
        background: #FFA500;
        border-radius: 50%;
        content: "";
    }

    .sec-title-style1 .text .decor-right::before {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 5px;
        height: 5px;
        background: #FFA500;
        border-radius: 50%;
        content: "";
    }

    .sec-title-style1 .text .decor-right::after {
        position: absolute;
        top: 0;
        left: 10px;
        bottom: 0;
        width: 5px;
        height: 5px;
        background: #FFA500;
        border-radius: 50%;
        content: "";
    }

    .sec-title-style1 .text .decor-right span {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 50px;
        height: 1px;
        background: #FFA500;
        content: "";
        margin: 2px 0;
    }

    .add-place {
        padding: 10px;
    }

        .add-place button {
            border: none;
            padding: 10px;
            color: white;
            background-color: #012970;
            border-radius: 5px;
        }

            .add-place button:hover {
                background-color: #1a0c34;
            }

    #addNew-Place {
        width: 450px;
        height: 680px;
        margin: auto;
        background-color: #a9c4f794;
        border-radius: 12px;
        padding: 20px;
        margin-bottom: 30px;
    }

        #addNew-Place div {
            width: 100%;
            padding: 15px;
        }

        #addNew-Place img {
            display: block;
            margin: auto;
        }
</style>

<br />
<br />
<div id="main">

    <section id="values" class="values">
        <div class="sec-title-style1 text-center max-width">
            <div class="title">Choose Place</div>
            <div class="text"><div class="decor-left"><span></span></div><p>Check out the places for booking events</p><div class="decor-right"><span></span></div></div>

        </div>
        <br />
        <script type="text/template" id="list-item-template">

            <div class="col-md-4" style="padding:20px;">
                <div>

                    <table width="90%">
                        <tr>
                            <td valign="top">

                                <div style="border-radius: 12px; text-align: center; background-color: #a9c4f794; ">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <img src='{{placeimage}}' style="margin-top:15px; height:160px; width:80%; border-radius:12px;"><br />
                                    </div>
                                    <br />
                                    <div class="justify-content-center align-items-center">
                                        <h4> {{place}}</h4><br />
                                        <div class="tour">
                                            <center>
                                                <p>{{placedescription}}</p>
                                            </center>
                                        </div>
                                        <b>Total Capacity: {{capacity}}</b>

                                        <div class="text-center text-lg-start">
                                            <br />
                                            <a href="#" onclick="placeView({{rid}})" class="">
                                                <span>Book Event</span>
                                                <i class="bi bi-arrow-right"></i>
                                            </a>
                                        </div>
                                        <br>
                                    </div>

                                </div>

                            </td>
                        </tr>
                    </table>
                </div>
            </div>




            @*<div id="fill" style=" border-radius:12px; text-align:center; background-color:#ede6da; width:96%; height:365px;">
                    <br />
                    <div class="d-flex justify-content-center align-items-center">
                        <img src='{{placeimage}}' style="height:160px; width:80%; border-radius:12px;"><br />
                    </div>
                    <br />
                    <div class="justify-content-center align-items-center">
                        <h4> {{place}}</h4><br />
                        <div class="tour">
                            <center>
                                <p>{{placedescription}}</p>
                            </center>
                        </div>
                        <div class="text-center text-lg-start">

                            <a href="#" onclick="placeView({{rid}})" class="">
                                <span>Book Event</span>
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                        <br>
                    </div>
                </div>*@

            <!--<div class="box col-md-4">
            <div-->
            @*class="sv shadow-1"*@
            <!--style="background-color:lightgray;">

            <table width="100%">
                <tr>
                    <td valign="top">

                        <div class="box">

                            <h3> {{place}}</h3>-->
            @*<div class="tour">
                    <p>{{description}}</p>
                </div>*@
            <!--<div class="text-center text-lg-start">
                                        <a href="#" onclick="placeView({{rid}})" class="">
                                            <span>Book Event</span>
                                            <i class="bi bi-arrow-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>-->

        </script>


        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="list-template-container" class="row">
                    </div>
                </div>
            </div>
            <br />


        </div>


    </section>

    <div id="add-place" class="add-place">
        <center>
            <button onclick="newPlace(); return false;">Add New Place</button>
        </center>
    </div>
    <div class="row" id="addNew-Place" style="display: none;">
        @*<div class="col-md-4">
            <div onclick="closePlace(); return false;"><i style="color:red;" class="fa fa-close"></i></div>
        </div>*@
        <span class="cancel" onclick="closePlace(); return false;" style="padding-left:392px;"><i style="color:red;" class="fa fa-close"></i></span>
        <div class="col-md-4" style="padding:10px;">
            <img src="" id="preview-photo" style="margin-top:15px; height:160px; width:80%; border-radius:12px;" />
        </div>
        <div class="col-md-4 " style="padding:10px;">
            <label>Place Name*</label>
            <input class="form-control" id="place" type="text" placeholder="Enter Place Name" />
        </div>
        <div class="col-md-4" style="padding:10px;">
            <label>Place Image*</label>
            <input class="form-control" type="file" id="newPlace_photo" onchange=" fileSelectionChanged();"
                   accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|image/*" />
        </div>
        <div class="col-md-4 " style="padding:10px;">
            <label>Place Description*</label>
            <textarea class="form-control" id="description" type="text" placeholder="Place Description"></textarea>
        </div>
        <div class="col-md-4 " style="padding:10px;">
            <label>Capacity*</label>
            <input class="form-control" id="capacity" type="text" placeholder="Approximate Capacity" />
        </div>
        <div class="text-center text-lg-start">
            <button onclick="AddPlaceData()" id="add-place-btn" class="btn bg-success" style="color:white;">Add Place</button>
        </div>
        <br><br><br>
    </div>

</div>

<input type="hidden" id="rec-id" value='@_recId'>

<script src="~/Scripts/js/PlaceClient.js"></script>
