
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .login img {
        width: 100%;
    }

    .login {
        height: 650px;
        width: 100%;
       /* background: radial-gradient(#653d84, #332042);*/
        position: relative;
    }

    .login_box {
        width: 1050px;
        height: 500px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background: #fff;
        border-radius: 10px;
        box-shadow: 1px 4px 22px -8px #0004;
        display: flex;
        overflow: hidden;
        margin-top: 25px;
    }

        .login_box .left {
            width: 41%;
            height: 100%;
            padding: 25px 25px;
        }

        .login_box .right {
            width: 59%;
            height: 100%
        }

    .left .top_link a {
        color: #452A5A;
        font-weight: 400;
    }

    .left .top_link {
        height: 20px
    }

    .left .contact {
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
        height: 100%;
        width: 73%;
        margin: auto;
    }

    .left h3 {
        text-align: center;
        margin-bottom: 40px;
    }

    .left input {
        border: none;
        width: 80%;
        margin: 15px 0px;
        border-bottom: 1px solid #4f30677d;
        padding: 7px 9px;
        width: 100%;
        overflow: hidden;
        background: transparent;
        font-weight: 600;
        font-size: 14px;
    }

    .left {
        background: linear-gradient(-45deg, #dcd7e0, #fff);
    }

    .submit {
        border: none;
        padding: 15px 70px;
        border-radius: 8px;
        display: block;
        margin: auto;
        /* margin-top: 120px;*/
        background: #583672;
        color: #fff;
        font-weight: bold;
        -webkit-box-shadow: 0px 9px 15px -11px rgba(88,54,114,1);
        -moz-box-shadow: 0px 9px 15px -11px rgba(88,54,114,1);
        box-shadow: 0px 9px 15px -11px rgba(88,54,114,1);
    }



    .right {
        background: linear-gradient(212.38deg, rgba(242, 57, 127, 0.7) 0%, rgba(175, 70, 189, 0.71) 100%),url('../../images/8.jpg');
        color: #fff;        
        position: relative;
    }


        .right .right-text {
            height: 100%;
            position: relative;
            transform: translate(0%, 45%);
        }

    .right-text h2 {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 50px;
        font-weight: 500;
    }

    .right-text h5 {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 19px;
        font-weight: 400;
    }

    .right .right-inductor {
        position: absolute;
        width: 70px;
        height: 7px;
        background: #fff0;
        left: 50%;
        bottom: 70px;
        transform: translate(-50%, 0%);
    }

    .contact .btn-get-started {
        margin-top: 30px;
        line-height: 0;
        padding: 15px 95px;
        border-radius: 4px;
        transition: 0.5s;
        color: #fff;
        background: #583672;
        box-shadow: 0px 5px 30px rgba(65, 84, 241, 0.4);
    }
</style>
<br />
<section class="login">
    @*@HttpContext.Current.Session["UserName"]
    @HttpContext.Current.Session["Role"]*@
    <div id="login-panel" class="login_box">
        <div class="left">
            <div class="top_link">

                <a href="/Home/Index" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                    <i class="fa fa-chevron-left"></i><span>&nbsp;Return Home</span>

                </a>
            </div>
            <div class="contact">
                <form action="">
                    <h3>Login</h3>
                    <input id="user-name-field" type="text" placeholder="USERNAME">
                    <input id="password-field" type="password" placeholder="PASSWORD">
                    <div style="padding:20px;"></div>
                    <div class="text-center text-lg-start">
                        <a href="#"  id="login-enter-button" class="btn-get-started">
                            <span><b>LOGIN &nbsp;</b></span>
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                    @*<button id="submit-button" class="submit">LET'S GO</button>*@
                    <div style="padding:8px;"></div>

                </form>
            </div>
        </div>
        <div class="right">
            <div class="right-text">
                <h3 style="text-align:center;"><b>PUDUCHERRY TOURISM</b></h3>

            </div>
            <div class="right-inductor">
                @*<img src="https://lh3.googleusercontent.com/fife/ABSRlIoGiXn2r0SBm7bjFHea6iCUOyY0N2SrvhNUT-orJfyGNRSMO2vfqar3R-xs5Z4xbeqYwrEMq2FXKGXm-l_H6QAlwCBk9uceKBfG-FjacfftM0WM_aoUC_oxRSXXYspQE3tCMHGvMBlb2K1NAdU6qWv3VAQAPdCo8VwTgdnyWv08CmeZ8hX_6Ty8FzetXYKnfXb0CTEFQOVF4p3R58LksVUd73FU6564OsrJt918LPEwqIPAPQ4dMgiH73sgLXnDndUDCdLSDHMSirr4uUaqbiWQq-X1SNdkh-3jzjhW4keeNt1TgQHSrzW3maYO3ryueQzYoMEhts8MP8HH5gs2NkCar9cr_guunglU7Zqaede4cLFhsCZWBLVHY4cKHgk8SzfH_0Rn3St2AQen9MaiT38L5QXsaq6zFMuGiT8M2Md50eS0JdRTdlWLJApbgAUqI3zltUXce-MaCrDtp_UiI6x3IR4fEZiCo0XDyoAesFjXZg9cIuSsLTiKkSAGzzledJU3crgSHjAIycQN2PH2_dBIa3ibAJLphqq6zLh0qiQn_dHh83ru2y7MgxRU85ithgjdIk3PgplREbW9_PLv5j9juYc1WXFNW9ML80UlTaC9D2rP3i80zESJJY56faKsA5GVCIFiUtc3EewSM_C0bkJSMiobIWiXFz7pMcadgZlweUdjBcjvaepHBe8wou0ZtDM9TKom0hs_nx_AKy0dnXGNWI1qftTjAg=w1920-h979-ft" alt="">*@

                @*<img src="~/images/8.jpg" />*@
            </div>
        </div>
    </div>
</section>
<script src="~/Scripts/js/Login.js"></script>