
@{
    ViewBag.Title = "Beach3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

<style>
    /* Make the image fully responsive */
    .carousel-inner img {
        width: 100%;
        height: 400px;
    }

    .card {
        margin-bottom: 2rem;
    }

    #main h1 {
        font-size: 45px;
        color: #bac0e3;
        text-align: center;
    }

    .cards-list {
        z-index: 0;
        width: 71%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: auto;
    }

    .auro .card {
        margin: 30px auto;
        width: 300px;
        height: 260px;
        border-radius: 50px 0;
        box-shadow: 0px 0px 15px rgb(0 0 0 / 30%);
        cursor: pointer;
        transition: 0.4s;
        justify-content: flex-start !important;
        background-color: #97A9BD;
    }

    .card_image {
        background: #fff;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        margin: 10px auto;
    }

        .card_image i {
            margin: 17px;
            font-size: 37px;
            -webkit-animation: spin 4s linear infinite;
            -moz-animation: spin 4s linear infinite;
            animation: spin 4s linear infinite;
        }

    @@-moz-keyframes spin {
        100% {
            -moz-transform: rotate(360deg);
        }
    }

    @@-webkit-keyframes spin {
        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @@keyframes spin {
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    .card_title .heading {
        font-size: 1.2rem;
        font-weight: 700;
        margin: auto;
        text-align: center;
        color: #fff;
    }

    .card_title p {
        margin: 10px auto;
        line-height: normal;
        text-align: center;
        color: #fff;
    }

    .cards-list .card:nth-child(1) {
        background-color: #97A9BD;
    }

        .cards-list .card:nth-child(1):hover {
            background-color: #5e6e80;
        }

    .cards-list .card1 .card_image a i {
        color: #97A9BD;
    }

    .cards-list .card:nth-child(2) {
        background-color: #A197BD;
    }

        .cards-list .card:nth-child(2):hover {
            background-color: #625682;
        }

    .cards-list .card2 .card_image a i {
        color: #A197BD;
    }

    .cards-list .card:nth-child(3) {
        background-color: #BDA697;
    }

        .cards-list .card:nth-child(3):hover {
            background-color: #826552;
        }

    .cards-list .card3 .card_image a i {
        color: #BDA697;
    }

    .btn-flip {
        opacity: 1;
        outline: 0;
        color: #fff;
        line-height: 40px;
        position: relative;
        text-align: center;
        letter-spacing: 1px;
        display: inline-block;
        text-decoration: none;
        font-family: "Open Sans";
        text-transform: uppercase;
    }

        .btn-flip:hover:after {
            opacity: 1;
            transform: translateY(0) rotateX(0);
        }

        .btn-flip:hover:before {
            opacity: 0;
            transform: translateY(50%) rotateX(90deg);
        }

        .btn-flip:after {
            top: 0;
            left: 0;
            opacity: 0;
            width: 100%;
            color: #ababb4;
            display: block;
            transition: 0.5s;
            position: absolute;
            background: #fcfcfc;
            content: attr(data-back);
            transform: translateY(-50%) rotateX(90deg);
        }

        .btn-flip:before {
            top: 0;
            left: 0;
            opacity: 1;
            color: #f9f9ff;
            display: block;
            padding: 0 30px;
            line-height: 40px;
            transition: 0.5s;
            position: relative;
            /* background: #fbfbfd; */
            content: attr(data-front);
            transform: translateY(0) rotateX(0);
            border: 1px solid #fbfbfb;
        }

    .btn-read {
        justify-content: center;
        align-content: center;
        display: flex;
        margin: 31px;
    }

    .auro p {
        display: -webkit-box;
        max-width: 300px;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .sec-title-style1 .title {
        position: relative;
        display: block;
        color: #012970;
        font-size: 36px;
        line-height: 46px;
        font-weight: 700;
        text-transform: uppercase;
    }

    *, ::after, ::before {
        box-sizing: border-box;
    }

    .sec-title-style1 .text p {
        position: relative;
        display: inline-block;
        padding: 0 15px;
        color: #012970;
        font-size: 14px;
        line-height: 16px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0;
    }

    .sec-title-style1 .text .decor-left {
        position: relative;
        top: -2px;
        display: inline-block;
        width: 70px;
        height: 5px;
        background: transparent;
    }

    .sec-title-style1 .text .decor-right {
        position: relative;
        top: -2px;
        display: inline-block;
        width: 70px;
        height: 5px;
        background: transparent;
    }

    .sec-title-style1 .text .decor-left span {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 50px;
        height: 1px;
        background: #FFA500;
        content: "";
        margin: 2px 0;
    }

    .sec-title-style1 .text .decor-left::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 5px;
        height: 5px;
        background: #FFA500;
        border-radius: 50%;
        content: "";
    }

    .sec-title-style1 .text .decor-left::after {
        position: absolute;
        top: 0;
        right: 10px;
        bottom: 0;
        width: 5px;
        height: 5px;
        background: #FFA500;
        border-radius: 50%;
        content: "";
    }

    .sec-title-style1 .text .decor-right::before {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 5px;
        height: 5px;
        background: #FFA500;
        border-radius: 50%;
        content: "";
    }

    .sec-title-style1 .text .decor-right::after {
        position: absolute;
        top: 0;
        left: 10px;
        bottom: 0;
        width: 5px;
        height: 5px;
        background: #FFA500;
        border-radius: 50%;
        content: "";
    }

    .sec-title-style1 .text .decor-right span {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 50px;
        height: 1px;
        background: #FFA500;
        content: "";
        margin: 2px 0;
    }
</style>



<div id="demo" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/promenade3.png" width="1100" height="200" />
            @*<img src="la.jpg" alt="Los Angeles" width="1100" height="500">*@
            <div class="carousel-caption">
                <h3>Promenade Beach</h3>
                <p>We had such a great time in Promenade Beach!</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/images/promenade.jpg" width="1100" height="200" />
            @*<img src="chicago.jpg" alt="Chicago" width="1100" height="500">*@
            <div class="carousel-caption">
                <h3>Promenade Beach</h3>
                <p>Thank you, Puducherry!</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/images/promenade2.png" width="1100" height="200" />
            @*<img src="ny.jpg" alt="New York" width="1100" height="500">*@
            <div class="carousel-caption">
                <h3>Promenade Beach</h3>
                <p>We love the Rock Beach!</p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>
<div style="padding:8px;"></div>
<div>
    <div class="container" data-aos="fade-up" data-aos-delay="200">
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-12">
                <div class="card bg-light">
                    <div class="card-body" style="background-color:darkgray; color:black;">
                        <h4 class="card-title">Promenade Beach</h4>
                        <h6 class="card-subtitle mb-2">Rock Beach</h6>
                        <p class="card-text">
                            Promenade Beach
                            Out of all the beaches in Pondicherry, Promenade Beach is one of its own kind of beach that is popularly known for its azure waters, ocean sprays, shimmering sand, beautiful coastline, and cosy ambiance.

                            Also referred to as Pondicherry Beach, Rock Beach, and Mahatma Gandhi Beach, Promenade Beach invites tourists of all ages to relax and rejuvenate in a laid-back atmosphere. An ideal holiday spot for photographers, nature lovers, and wanderers, this beach, surrounded by exotic landscapes, allows you to witness the alluring views from the sea and gaze upon the stunning sunset in the evening. It is considered as a must-visit attraction on your Pondicherry tour and a perfect base for family picnics.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" data-aos="fade-up" data-aos-delay="200">
    <div class="sec-title-style1 text-center max-width">
        <div class="title">Visiting Time</div>
        <div class="text"><div class="decor-left"><span></span></div><p>Time to visit Promenade Beach</p><div class="decor-right"><span></span></div></div>
    </div>
    <p>        
        <b>Note:</b> Promenade Beach Puducherry Vehicles open between 7:30 am to 6:00 pm
    </p>
    <p>
        <h5 style="color:brown">Timing for the Visitors:</h5>


        Mon. to Sun., 06:00 a.m. - 08:00 p.m.

    </p>
    <p>
        <h5 style="color:brown">Things to do at Promenade Beach, Puducherry:</h5><br />

        Wondering what to do on Promenade Beach other than just relaxing and lazing around? Fret not! The beach has got something for everyone. So, whether you’re in search of a leisure or an adventurous trip, you’ll definitely find several things to keep yourself engaged all the time. A few of them include:<br />

        <i class="fa fa-check" style="color:darkblue;"></i>&nbsp; Walk hand-in-hand with your partner on this 1.5 km long beach to spend some quality time with each other and create memories for a lifetime. It is indeed one of the nicest things to do whenever you are on this beach.<br />
        <i class="fa fa-check" style="color:darkblue;"></i>&nbsp; Visit the popular Le Café restaurant to enjoy a sip of mouthwatering coffee and a variety of seafood dishes. This beach also hosts several other restaurants that are widely famous for serving authentic traditional food to everyone.<br />
        <i class="fa fa-check" style="color:darkblue;"></i>&nbsp; Take some time to explore the significant landmarks that catch everyone’s attention at the beach. These include the old Heritage Townhall, Dupleix’s Statue, the old lighthouse, the War Memorial, the statue of Mahatma Gandhi, etc. You can also hire a professional guide to tell you each and everything about these historical monuments in detail.<br />


    </p>

</div>
<section class="auro" id="main" data-aos="fade-up" data-aos-delay="200">
    @*<h1>Nearby Places</h1>*@
    <div class="sec-title-style1 text-center max-width">
        <div class="title">Nearby Places</div>
        <div class="text"><div class="decor-left"><span></span></div><p>Places Near Promenade Beach</p><div class="decor-right"><span></span></div></div>
    </div>
    <div class="cards-list">

        <div class="card card1">
            <div class="card_image">
                <img src="~/images/auro8.jpg" height="71px" width="75px" style="border-radius:50%;" />
                @*<a href=""><i class="fa fa-spinner"></i></a>*@
            </div>
            <div class="card_title title-white">
                <h6 class="heading">Le Cafe</h6>
                <p>The only waterfront cafe in Pondicherry, Le Cafe is one of the perfect hideouts in the region to have an amazing dining experience. Amidst the beautiful backdrop of sparkling water of the ocean, dining at Le Cafe is altogether a different experience one could ever wish to relish while vacationing in Pondicherry. The strategical location and unbeatable uniqueness of Le Cafe not only make it a perfect food joint but also a popular place of tourist interest in Pondicherry.  Originally, Le Cafe was the port office when the railway was used to operate from South Boulevard to the old Boulevard along the Beach Road. In 1952, a strong cyclone destroyed the pier which used to connect both the destinations. The remains of the pier can still be seen jutting out in the river. With the rooftop seating, Le Cafe is counted amongst those places which you can’t afford to miss out while in Pondicherry. Apart from the surreal location and exotic scenery, the cafe is also popular for proffering some delectable taste to your plate. While being here, do not dare to miss their hot espresso, sandwiches and ice creams. The prompt and warm services and hospitality of this place is something which gives a perfect complement to the composed relaxed ambiance.</p>

            </div>
            <div class="btn-read">
                <a href="#" class="btn-flip" data-back="Back" data-front="read more"></a>
            </div>
        </div>


        <div class="card card2">
            <div class="card_image">
                <img src="~/images/irumbai.jpg" height="71px" width="75px" style="border-radius:50%;" />
                @*<a href=""><i class="fa fa-spinner"></i></a>*@
            </div>
            <div class="card_title title-white">
                <h6 class="heading">Harbour</h6>
                <p>Puducherry, a spectacular tourist place, has a small shallow-water port. It is used for the import and export of general cargo. It was established by the Governor-General of the French East India Company at that time. Puducherry has always been one of the most important trade cities in history due to its connectivity with western companies like the Dutch and the French.</p>

            </div>
            <div class="btn-read">
                <a href="#" class="btn-flip" data-back="Back" data-front="read more"></a>
            </div>
        </div>


        <div class="card card3">
            <div class="card_image">
                <img src="~/images/auro12.jpg" height="71px" width="75px" style="border-radius:50%;" />
                @*<a href=""><i class="fa fa-spinner"></i></a>*@
            </div>
            <div class="card_title title-white">
                <h6 class="heading">Marina Beach</h6>
                <p>
                    This is a new beach front near the new lighthouse named 'Pondy Marina' that has come up to provide leisure in the old French town of Puducherry. It has been developed into an 'activity zone with food court having tensile roofing' by the Tourism department. One can enjoy the sea, surfing the whole day and later come to Pondy Marina and relish good food and relax.
                </p>

            </div>
            <div class="btn-read">
                <a href="#" class="btn-flip" data-back="Back" data-front="read more"></a>
            </div>
        </div>

    </div>
</section>

<div class="address" data-aos="fade-up" data-aos-delay="200">
    <div class="container">
        <div class="sec-title-style1 text-center max-width">
            <div class="title">Location</div>
            <div class="text"><div class="decor-left"><span></span></div><p>How To Reach Promenae Beach</p><div class="decor-right"><span></span></div></div>
        </div>
        <div style="padding:4px;"></div>
        <div class="row col-md-12">
            <div class="col-md-4">
                <img src="~/images/auro1.jpg" height="202" width="360" />
            </div>
            <div class="col-12 col-sm-6 col-lg-8">
                <div class="card bg-light">
                    <div class="card-body" @*style="background-color:darkgray; color:black;"*@>
                        <p>

                            <i class="fa fa-check" style="color:darkblue;"></i>&nbsp; Distance from the airport: 5.7 km<br />
                            <i class="fa fa-check" style="color:darkblue;"></i>&nbsp; Distance from the railway station: 750 meters<br />
                            <i class="fa fa-check" style="color:darkblue;"></i>&nbsp; Distance from the bus stand: 3.3 km<br />

                        </p>
                        <p class="card-text">

                            Beach Road,<br /> Puducherry,<br /> 605001
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



