
@{
    ViewBag.Title = "BotanicalGarden";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

<style>
    /* Make the image fully responsive */
    .carousel-inner img {
        width: 100%;
        height: 440px;
    }

    .card {
        margin-bottom: 2rem;
    }

    #main h1 {
        font-size: 45px;
        color: #bac0e3;
        text-align: center;
    }

    .cards-list {
        z-index: 0;
        width: 71%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: auto;
    }

    .auro .card {
        margin: 30px auto;
        width: 300px;
        height: 260px;
        border-radius: 50px 0;
        box-shadow: 0px 0px 15px rgb(0 0 0 / 30%);
        cursor: pointer;
        transition: 0.4s;
        justify-content: flex-start !important;
        background-color: #97A9BD;
    }

    .card_image {
        background: #fff;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        margin: 10px auto;
    }

        .card_image i {
            margin: 17px;
            font-size: 37px;
            -webkit-animation: spin 4s linear infinite;
            -moz-animation: spin 4s linear infinite;
            animation: spin 4s linear infinite;
        }

    @@-moz-keyframes spin {
        100% {
            -moz-transform: rotate(360deg);
        }
    }

    @@-webkit-keyframes spin {
        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @@keyframes spin {
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    .card_title .heading {
        font-size: 1.2rem;
        font-weight: 700;
        margin: auto;
        text-align: center;
        color: #fff;
    }

    .card_title p {
        margin: 10px auto;
        line-height: normal;
        text-align: center;
        color: #fff;
    }

    .cards-list .card:nth-child(1) {
        background-color: #97A9BD;
    }

        .cards-list .card:nth-child(1):hover {
            background-color: #5e6e80;
        }

    .cards-list .card1 .card_image a i {
        color: #97A9BD;
    }

    .cards-list .card:nth-child(2) {
        background-color: #A197BD;
    }

        .cards-list .card:nth-child(2):hover {
            background-color: #625682;
        }

    .cards-list .card2 .card_image a i {
        color: #A197BD;
    }

    .cards-list .card:nth-child(3) {
        background-color: #BDA697;
    }

        .cards-list .card:nth-child(3):hover {
            background-color: #826552;
        }

    .cards-list .card3 .card_image a i {
        color: #BDA697;
    }

    .btn-flip {
        opacity: 1;
        outline: 0;
        color: #fff;
        line-height: 40px;
        position: relative;
        text-align: center;
        letter-spacing: 1px;
        display: inline-block;
        text-decoration: none;
        font-family: "Open Sans";
        text-transform: uppercase;
    }

        .btn-flip:hover:after {
            opacity: 1;
            transform: translateY(0) rotateX(0);
        }

        .btn-flip:hover:before {
            opacity: 0;
            transform: translateY(50%) rotateX(90deg);
        }

        .btn-flip:after {
            top: 0;
            left: 0;
            opacity: 0;
            width: 100%;
            color: #ababb4;
            display: block;
            transition: 0.5s;
            position: absolute;
            background: #fcfcfc;
            content: attr(data-back);
            transform: translateY(-50%) rotateX(90deg);
        }

        .btn-flip:before {
            top: 0;
            left: 0;
            opacity: 1;
            color: #f9f9ff;
            display: block;
            padding: 0 30px;
            line-height: 40px;
            transition: 0.5s;
            position: relative;
            /* background: #fbfbfd; */
            content: attr(data-front);
            transform: translateY(0) rotateX(0);
            border: 1px solid #fbfbfb;
        }

    .btn-read {
        justify-content: center;
        align-content: center;
        display: flex;
        margin: 31px;
    }

    .auro p {
        display: -webkit-box;
        max-width: 300px;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .sec-title-style1 .title {
        position: relative;
        display: block;
        color: #012970;
        font-size: 36px;
        line-height: 46px;
        font-weight: 700;
        text-transform: uppercase;
    }

    *, ::after, ::before {
        box-sizing: border-box;
    }

    .sec-title-style1 .text p {
        position: relative;
        display: inline-block;
        padding: 0 15px;
        color: #012970;
        font-size: 14px;
        line-height: 16px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0;
    }

    .sec-title-style1 .text .decor-left {
        position: relative;
        top: -2px;
        display: inline-block;
        width: 70px;
        height: 5px;
        background: transparent;
    }

    .sec-title-style1 .text .decor-right {
        position: relative;
        top: -2px;
        display: inline-block;
        width: 70px;
        height: 5px;
        background: transparent;
    }

    .sec-title-style1 .text .decor-left span {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 50px;
        height: 1px;
        background: #FFA500;
        content: "";
        margin: 2px 0;
    }

    .sec-title-style1 .text .decor-left::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 5px;
        height: 5px;
        background: #FFA500;
        border-radius: 50%;
        content: "";
    }

    .sec-title-style1 .text .decor-left::after {
        position: absolute;
        top: 0;
        right: 10px;
        bottom: 0;
        width: 5px;
        height: 5px;
        background: #FFA500;
        border-radius: 50%;
        content: "";
    }

    .sec-title-style1 .text .decor-right::before {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 5px;
        height: 5px;
        background: #FFA500;
        border-radius: 50%;
        content: "";
    }

    .sec-title-style1 .text .decor-right::after {
        position: absolute;
        top: 0;
        left: 10px;
        bottom: 0;
        width: 5px;
        height: 5px;
        background: #FFA500;
        border-radius: 50%;
        content: "";
    }

    .sec-title-style1 .text .decor-right span {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 50px;
        height: 1px;
        background: #FFA500;
        content: "";
        margin: 2px 0;
    }
</style>



<div id="demo" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/pobo.jpg" width="1100" height="200" />
            @*<img src="la.jpg" alt="Los Angeles" width="1100" height="500">*@
            <div class="carousel-caption">
                <h3>Botanical Garden</h3>
                <p>We had such a great time in Garden!</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/images/bot5.jpg" width="1100" height="200" />
            @*<img src="chicago.jpg" alt="Chicago" width="1100" height="500">*@
            <div class="carousel-caption">
                <h3>Botanical Garden</h3>
                <p>Thank you, Puducherry!</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/images/bot6.jpg" width="1100" height="200" />
            @*<img src="ny.jpg" alt="New York" width="1100" height="500">*@
            <div class="carousel-caption">
                <h3>Botanical Garden</h3>
                <p>We love the Nature!</p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>
<div style="padding:8px;"></div>
<div>
    <div class="container" data-aos="fade-up" data-aos-delay="200">
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-12">
                <div class="card bg-light">
                    <div class="card-body" style="background-color:darkgray; color:black;">
                        <h4 class="card-title">Botanical Garden</h4>
                        <h6 class="card-subtitle mb-2">The Nature of Puducherry</h6>
                        <p class="card-text">
                            The Botanical Garden (or Jardin Botanique) in Pondicherry was established to be an elegant French garden. It’s a quiet and calming retreat for you to relax and beat the scorching heat. The gate exhibiting the grandiose of French architecture leads you to a world of greenery and peace.The musical fountain, toy train ride and aquarium are the other things to check out here.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" data-aos="fade-up" data-aos-delay="200">
    <div class="sec-title-style1 text-center max-width">
        <div class="title">Visiting Time</div>
        <div class="text"><div class="decor-left"><span></span></div><p>Time to visit Botanical Garden</p><div class="decor-right"><span></span></div></div>
    </div>
    <p>

        <h5 style="color:brown">Botanical Garden Puducherry Entry Fee:</h5>

        <i class="fa fa-check" style="color:darkblue;"></i>&nbsp;10 per person for Adult<br />
        <i class="fa fa-check" style="color:darkblue;"></i>&nbsp;5 per person for Children
    </p>
    <p>
        <h5 style="color:brown">Timing for visitng Botanical Garden:</h5>

       
        Mon. to Sun., 10:00 a.m. - 05:00 p.m.
      
    </p>
    <p>
        <h5 style="color:brown"> History of Botanical Garden Puducherry:</h5>      

        The Botanical Garden was developed in 1826 to study the performance of various plants in the climate of Pondicherry. In 1829, around 800-900 plant species were grown here. Later, in 1838, S.G. Perottet, an eminent botanist, added many new and rare species to create a live herbarium. Other botanists also introduced several new plants over time.

        After Puducherry became a Union Territory in 1954, the Department of Agriculture took the responsibility of maintaining the Botanical Garden.
    </p>

</div>
<section class="auro" id="main" data-aos="fade-up" data-aos-delay="200">
    @*<h1>Nearby Places</h1>*@
    <div class="sec-title-style1 text-center max-width">
        <div class="title">Nearby Places</div>
        <div class="text"><div class="decor-left"><span></span></div><p>Places Near Botanical garden</p><div class="decor-right"><span></span></div></div>
    </div>
    <div class="cards-list">

        <div class="card card1">
            <div class="card_image">
                <img src="~/images/Providence-mall.jpg" height="71px" width="75px" style="border-radius:50%;" />
                @*<a href=""><i class="fa fa-spinner"></i></a>*@
            </div>
            <div class="card_title title-white">
                <h6 class="heading">Providance Mall</h6>
                <p>The first shopping mall and cinema multiplex of the town of Pondicherry, Providence Mall is a concept born out of a bold vision to hand-carry to the people, brands available across cities of the country, in a single go-to place. Taking the town one step ahead, this mall was opened on November 2017 and holds distinguished brand names like SPI cinemas, Nallis, Big Bazaar, MAX, Reliance Trends, Reliance Digital, Aurelia, Woodlands, KFC, Toni & Guy and much more. Visit Providence mall for a one-stop food, entertainment and shopping solutions.</p>

            </div>
            <div class="btn-read">
                <a href="#" class="btn-flip" data-back="Back" data-front="read more"></a>
            </div>
        </div>


        <div class="card card2">
            <div class="card_image">
                <img src="~/images/church3.jpg" height="71px" width="75px" style="border-radius:50%;" />
                @*<a href=""><i class="fa fa-spinner"></i></a>*@
            </div>
            <div class="card_title title-white">
                <h6 class="heading">The Sacred Heart Basilica</h6>
                <p>Basilica of the Sacred Heart of Jesus, situated on the south boulevard of Pondicherry in Puducherry, India, is an oriental specimen of Gothic Revival architecture. It contains rare stained glass panels depicting events from the life of Christ and saints of the Catholic Church.</p>

            </div>
            <div class="btn-read">
                <a href="#" class="btn-flip" data-back="Back" data-front="read more"></a>
            </div>
        </div>


        <div class="card card3">
            <div class="card_image">
                <img src="~/images/forest.jpg" height="71px" width="75px" style="border-radius:50%;" />
                @*<a href=""><i class="fa fa-spinner"></i></a>*@
            </div>
            <div class="card_title title-white">
                <h6 class="heading">Mullaiagam Forest Campus</h6>
                <p>Mullaiagam Forest Campus.</p>

            </div>
            <div class="btn-read">
                <a href="#" class="btn-flip" data-back="Back" data-front="read more"></a>
            </div>
        </div>

    </div>
</section>

<div class="address" data-aos="fade-up" data-aos-delay="200">
    <div class="container">
        <div class="sec-title-style1 text-center max-width">
            <div class="title">Location</div>
            <div class="text"><div class="decor-left"><span></span></div><p>How To Reach Botanical Garden</p><div class="decor-right"><span></span></div></div>
        </div>
        <div style="padding:4px;"></div>
        <div class="row col-md-12">
            <div class="col-md-4">
                <img src="~/images/bot1.jpg" height="188" width="372" />
            </div>
            <div class="col-12 col-sm-6 col-lg-8">
                <div class="card bg-light">
                    <div class="card-body" @*style="background-color:darkgray; color:black;"*@>
                        <h3>Botanical Garden</h3>
                        <p class="card-text">

                            Marimalai, Maraimalai Adigal Salai, Near Anna Statue, Orleanpet, Puducherry, 605001, India

                        </p>
                        <p>
                            <i style="color:orangered;" class="fa fa-globe" aria-hidden="true"></i>&nbsp;
                            Website: www.pondicherrytourism.co.in<br />
                            <i style="color:orangered;" class="fa fa-phone" aria-hidden="true"></i>&nbsp;
                            Ph: 0413 233 9497
                        </p>                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
