@*@{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }*@


@{
    //ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_AdminLayout.cshtml";

    var userName = Context.Request.Form["username"];

    var role = Context.Request.Form["role"];
    

   
    if (role == "ADMIN")
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else if (role == "USER")
    {
        Layout = "~/Views/Shared/_UserLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
    }
}

<style>

    .table.dataTable th {
        text-align: center;
    }

    table.dataTable thead tr {
        background-color: gray;
        color: white;
    }

    .action-buttons {
        min-width: 100px !important;
    }

    .update .btn-get-started {
        margin-top: 30px;
        line-height: 0;
        padding: 15px 67px;
        border-radius: 4px;
        transition: 0.5s;
        color: #fff;
        background: yellow;
        box-shadow: 0px 5px 30px rgba(65, 84, 241, 0.4);
    }

    .save .btn-get-started {
        margin-top: 30px;
        line-height: 0;
        padding: 15px 76px;
        border-radius: 4px;
        transition: 0.5s;
        color: #fff;
        background: green;
        box-shadow: 0px 5px 30px rgba(65, 84, 241, 0.4);
    }

    .cancel .btn-get-started {
        margin-top: 30px;
        line-height: 0;
        padding: 15px 69px;
        border-radius: 4px;
        transition: 0.5s;
        color: #fff;
        background: red;
        box-shadow: 0px 5px 30px rgba(65, 84, 241, 0.4);
    }

    .sec-title-style1 .title {
        position: relative;
        display: block;
        color: #012970;
        font-size: 36px;
        line-height: 46px;
        font-weight: 700;
        text-transform: uppercase;
    }

    *, ::after, ::before {
        box-sizing: border-box;
    }

    .text-center {
        text-align: center !important;
    }

    .sec-title-style1 .text p {
        position: relative;
        display: inline-block;
        padding: 0 15px;
        color: #012970;
        font-size: 14px;
        line-height: 16px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0;
    }

    .sec-title-style1 .text .decor-left {
        position: relative;
        top: -2px;
        display: inline-block;
        width: 70px;
        height: 5px;
        background: transparent;
    }

    .sec-title-style1 .text .decor-right {
        position: relative;
        top: -2px;
        display: inline-block;
        width: 70px;
        height: 5px;
        background: transparent;
    }

    .sec-title-style1 .text .decor-left span {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 50px;
        height: 1px;
        background: #FFA500;
        content: "";
        margin: 2px 0;
    }

    .sec-title-style1 .text .decor-left::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 5px;
        height: 5px;
        background: #FFA500;
        border-radius: 50%;
        content: "";
    }

    .sec-title-style1 .text .decor-left::after {
        position: absolute;
        top: 0;
        right: 10px;
        bottom: 0;
        width: 5px;
        height: 5px;
        background: #FFA500;
        border-radius: 50%;
        content: "";
    }

    .sec-title-style1 .text .decor-right::before {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 5px;
        height: 5px;
        background: #FFA500;
        border-radius: 50%;
        content: "";
    }

    .sec-title-style1 .text .decor-right::after {
        position: absolute;
        top: 0;
        left: 10px;
        bottom: 0;
        width: 5px;
        height: 5px;
        background: #FFA500;
        border-radius: 50%;
        content: "";
    }

    .sec-title-style1 .text .decor-right span {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 50px;
        height: 1px;
        background: #FFA500;
        content: "";
        margin: 2px 0;
    }


    * {
        box-sizing: border-box;
        margin: 0;
        font-family: sans-serif;
    }

    .item {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }

        .item label {
            display: flex;
            margin: auto;
            width: 30px;
            height: 30px;
            cursor: pointer;
        }

    .check input {
        position: absolute;
        transform: scale(0);
    }

        .check input:checked ~ .checkbox {
            transform: rotate(45deg);
            width: 10px;
            margin: -5px 7px 0 -15px;
            border-color: #24c78e;
            border-width: 4px;
            border-top-color: transparent;
            border-left-color: transparent;
            border-radius: 0;
        }

    .checkbox {
        display: block;
        width: inherit;
        height: inherit;
        border: 2px solid #999;
        border-radius: 4px;
        transition: all 0.2s cubic-bezier(0, 0.01, 0.23, 0.8);
    }

    .container {
        max-width: 1274px;
    }
</style>



<div style="padding:60px;"></div>

<div class="col-md-12" style="margin: 0; padding: 0;">
    <div class="container" @*class="panel panel-default shadow"*@>
        <div @*class="panel-heading"*@>


            <!--</div>-->
            <div class="sec-title-style1 text-center max-width">
                <div class="title">Settings</div>
                <div id="ul" class="text"><div class="decor-left"><span></span></div><p>Settings List</p><div class="decor-right"><span></span></div></div>

            </div>
            <div class="row">
                <div class="col-md-10"></div>
                <div class="col-md-2">

                    <b class="pull-right" id="add-setting-button" onclick="addSetting(this); return false;" style="font-size:24px; color:green;">
                        <i class="fa fa-plus-circle" style="font-size: 24px; color: green;"></i> Add New

                    </b>
                </div>
            </div>
        </div>

        <div @*class="panel-body" style="padding:8px; margin:0;"*@>
            <div id="setting-list">
                @*<table id="customer-grid" class="table table-striped table-bordered" style="width:100%">*@
                <table id="setting-grid" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Event Name</th>
                            <th>Departments</th>
                            <th>Created By</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>

                </table>
            </div>

        </div>
        <div id="setting-form" data-aos="fade-up" data-aos-delay="200" style="display: none;">

            <div class="sec-title-style1 text-center max-width">

                <div class="text" id="uc"><div class="decor-left"><span></span></div><p>Setting Creation</p><div class="decor-right"><span></span></div></div>
                <div class="text" id="uu"><div class="decor-left"><span></span></div><p>Setting Updation</p><div class="decor-right"><span></span></div></div>
            </div>

            <br />
            <div class="row">
                <div class="col-md-1"></div>
                <div class="row col-md-10">
                    <div class="col-md-3">
                        <label><b>Event Name*</b></label>
                        <div style="padding:4px;"></div>
                        <select id="event-name" class="form-control"></select>
                    </div>
                
                    <div style="padding:8px;"></div>
                    <div id="container"></div>                  
                    
                    <div id="sv" class="save col-md-3" style="display:none;">
                        @*<button id="save-user-button" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">Save</button>*@
                        <a href="#" id="save-setting-button" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                            <span>Save</span>&nbsp;
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>

                    <div id="updt" class="update col-md-3" style="display:none;">
                        <a href="#" id="update-setting-button" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                            <span>Update</span>&nbsp;
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                    <div id="cl" class="cancel col-md-3">
                        <a href="#" id="cancel-setting-button" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                            <span>Cancel</span>&nbsp;
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>

        </div>
    </div>
</div>
<input type="hidden" id="login-name" value='@userName'>
<br />
<script src="~/Scripts/js/SettingForm.js"></script>
<script src="~/Scripts/js/SettingList.js"></script>

<script>


    var settingListComponent = null;
    var settingFormComponent = null;

    function addSetting(el) {

        $("#add-setting-button").hide();

        $("#ul").hide();
        $("#uc").show();
        $("#uu").hide();
        $("#sv").show();
        $("#updt").hide();
        settingListComponent.hide();
        settingFormComponent.show();
        settingFormComponent.populateData(null);

        $(el).hide();

    }

    $(function () {
        settingListComponent = new PBSettingListComponent("setting-list", "/ApiSetting/GetSettings");

        settingListComponent.deleteURL = "ApiCustomer/DeleteCustomer";

        settingFormComponent = new PBSettingFormComponent("setting-form"); //, "/ApiUser/SaveUser");
        settingFormComponent.saveURL = "ApiSetting/SaveSetting";
        //settingFormComponent.updateURL = "ApiUser/UpdateUser";
        settingFormComponent.departmentURL = "ApiDepartment/GetDepartments";
        settingFormComponent.nameURL = "ApiSetting/GetEventLists";
        settingFormComponent.onSaveCompleted = function () {
            settingListComponent.show();
            settingFormComponent.hide();
        }

        settingListComponent.onEditClicked = function (recToEdit) {
            $("#ul").hide();
            $("#uc").hide();
            $("#add-setting-button").hide();
            settingListComponent.hide();
            settingFormComponent.show();
            settingFormComponent.populateData(recToEdit);
            $("#cv").hide();
            $("#sv").hide();
            $("#updt").show();


        }

        settingFormComponent.onCancelled = function () {
            settingListComponent.show();
            settingFormComponent.hide();
            $("#add-setting-button").show();
            $("#ul").show();
            $("#title").html("");
        }
        settingFormComponent.onUpdateCompleted = function () {
            settingListComponent.show();
            settingListComponent.getData();
            settingFormComponent.hide();
            $("#add-setting-button").show();
            $("#title").html("");
        }

        settingListComponent.onDeleteCompleted = function () {
            settingListComponent.getData();
        }

    })
</script>