
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    /*img {*/
        /*background-color:red;*/
        /*height: 200px;
        background-size: cover;
        border-radius:12px;
    }*/
    h3 {
        color: #012970;
    }
    .branch img {
        width: 300px;
        height: 200px;
        border-radius: 7px;
    }
    .tour p {
        display: -webkit-box;
        max-width: 300px;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .tour .text-lg-start {
        text-align: right !important;
    }
    #hero{
        height:40px;
    }
</style>

@*<section id="hero" class="hero d-flex align-items-center">


</section>*@


<main id="main">

    <div style="padding:80px;"></div>
    <div class="branch row">
        <div class="col-md-1" data-aos="fade-up" data-aos-delay="200">

        </div>
        <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
            <img src="~/images/6.jpg" />
        </div>
        <div class="col-md-7" data-aos="fade-up" data-aos-delay="200">
            <h3>French Consulate</h3>

            <p>
                PTDC offers many amazing and affordable weekend and seasonal tours.From weekend tours to chennai,Bengalure & Tirupathi to longer holidey packages by luxury buses to Goa,Guruvayur,Kanyakumari,Ooty,Shirdi and even to the Andamans by flight.Be it a pilgrimage or fun-filled holiday, for bulk booking PTDC can customize the package to suit your dates.
            </p>
        </div>
    </div>
    <br />
    <center data-aos="fade-up" data-aos-delay="200">
        <img src="~/images/underline.png" />
    </center>
    <br />
    <div class="branch row">
        <div class="col-md-1" data-aos="fade-up" data-aos-delay="200">

        </div>
        <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">

            <img src="~/images/3.jpg" />
        </div>
        <div class="col-md-7" data-aos="fade-up" data-aos-delay="200">
            <h3>Promnade</h3>

            <p>
                PTDC offers many amazing and affordable weekend and seasonal tours.From weekend tours to chennai,Bengalure & Tirupathi to longer holidey packages by luxury buses to Goa,Guruvayur,Kanyakumari,Ooty,Shirdi and even to the Andamans by flight.Be it a pilgrimage or fun-filled holiday, for bulk booking PTDC can customize the package to suit your dates.
            </p>
        </div>
    </div>
    <br />
    <center data-aos="fade-up" data-aos-delay="200">
        <img src="~/images/underline.png" />
    </center>
    <br />
    <div class="branch row">
        <div class="col-md-1" data-aos="fade-up" data-aos-delay="200">

        </div>
        <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
            <img src="~/images/2.jpg" />
        </div>
        <div class="col-md-7" data-aos="fade-up" data-aos-delay="200">
            <h3>Auroville Globe</h3>

            <p>
                PTDC offers many amazing and affordable weekend and seasonal tours.From weekend tours to chennai,Bengalure & Tirupathi to longer holidey packages by luxury buses to Goa,Guruvayur,Kanyakumari,Ooty,Shirdi and even to the Andamans by flight.Be it a pilgrimage or fun-filled holiday, for bulk booking PTDC can customize the package to suit your dates.
            </p>
        </div>
    </div>
    <br />
    <center data-aos="fade-up" data-aos-delay="200">
        <img src="~/images/underline.png" />
    </center>
    <br />
    <div class="branch row">
        <div class="col-md-1" data-aos="fade-up" data-aos-delay="200">

        </div>
        <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
            <img src="~/images/4.jpg" />
        </div>
        <div class="col-md-7" data-aos="fade-up" data-aos-delay="200">
            <h3>Chunnambar</h3>

            <p>
                PTDC offers many amazing and affordable weekend and seasonal tours.From weekend tours to chennai,Bengalure & Tirupathi to longer holidey packages by luxury buses to Goa,Guruvayur,Kanyakumari,Ooty,Shirdi and even to the Andamans by flight.Be it a pilgrimage or fun-filled holiday, for bulk booking PTDC can customize the package to suit your dates.
            </p>
        </div>
    </div>
    <center data-aos="fade-up" data-aos-delay="200">
        <img src="~/images/underline.png" />
    </center>
    <br />
    @*<section id="about" class="about">

            <div class="container" data-aos="fade-up">
                <div class="row gx-0">

                    <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                        <div class="content">
                            <h3>Who We Are</h3>
                            <h2>Expedita voluptas omnis cupiditate totam eveniet nobis sint iste. Dolores est repellat corrupti reprehenderit.</h2>
                            <p>
                                Quisquam vel ut sint cum eos hic dolores aperiam. Sed deserunt et. Inventore et et dolor consequatur itaque ut voluptate sed et. Magnam nam ipsum tenetur suscipit voluptatum nam et est corrupti.
                            </p>
                            <div class="text-center text-lg-start">
                                <a href="#" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                                    <span>Read More</span>
                                    <i class="bi bi-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
                        <img src="assets/img/about.jpg" class="img-fluid" alt="">
                    </div>

                </div>
            </div>

        </section>*@


